body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-color: rgb(56, 22, 22);
    /* background-image: url('./images/image_1.png'); */
    /* background-color: rgb(57, 57, 5); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/imege_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.app-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.app-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 15px;
    background-color: #f39c12;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.app-link:hover {
    background-color: #e67e22;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.app-link:active {
    background-color: #d35400;
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}